<template>
    <h1 class="title">
        Bonjour {{ start + number }}
    </h1>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component({})
export default class HomePage extends Vue {
  @Prop({ type: Number, default: 0 }) start!: number

  @Prop({ type: Number, default: 1000 }) interval!: number

  number: number = 0

  mounted() {
      window.setInterval(() => {
          this.number += 1;
      }, this.interval);
  }
}
</script>
